/*
font-family: 'Fredericka the Great', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
* {
  box-sizing: border-box;
}

body {
  background-image: url('background-img.jpg');
  background-size: cover;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.75);
}

 
h1 {
  font-weight: bolder;
  letter-spacing: 0.15rem;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  
}

label {
  font-weight: bolder;
  letter-spacing: 0.15rem;
  color: white;
}


.displayRecipes {
  display: inline-block;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-family: 'Fredericka the Great', cursive;
  font-size: 50px;
}

.top {
  display: inline-flex;
  vertical-align: bottom;
  font-family: 'Oswald', sans-serif;
}

.displayRecipes h3 {
  vertical-align: top;
}

.displayRecipes img {
  max-width: 100px;
}

.buttons {
  margin-top: 10px;
}

.hidden {
  display: none;
}
